<section class="blog-section container my-5">
  <h2 class="blog-title text-center mb-4"><b>Últimas publicaciones de blog y noticias</b></h2>
  <div class="row g-4">
    <!-- Publicación 1 -->
    <div class="col-12 col-md-4">
      <div class="blog-card">
        <img src="assets/img/img1.jpg" alt="Coche adecuado" class="blog-img">
        <a href="https://digitaldeleon.com/curiosidades/elegir-coche-adecuado-ciudad-carretera/" target="_blank">
          <h5 class="blog-heading"><b>Cómo elegir el coche adecuado para la ciudad o carretera</b></h5>
        </a>
        <p class="blog-meta">Noticias / 10 diciembre 2024</p>
      </div>
    </div>
    <!-- Publicación 2 -->
    <div class="col-12 col-md-4">
      <div class="blog-card">
        <img src="assets/img/img2.jpg" alt="Plan adecuado" class="blog-img">
        <a href="https://cadenaser.com/baleares/2025/06/05/se-acabo-alquiler-un-coche-en-ibiza-por-5-euros-en-agosto-segun-aevab-radio-ibiza/" target="_blank">
           <h5 class="blog-heading"><b>Nuevas restricciones en el alquiler de coches en Ibiza para 2025</b></h5>
        </a>
        <p class="blog-meta">Noticias / 05 junio 2025</p>
      </div>
    </div>
    <!-- Publicación 3 -->
    <div class="col-12 col-md-4">
      <div class="blog-card">
        <img src="assets/img/img3.jpg" alt="Velocidad y control" class="blog-img">
        <a href="https://media.ford.com/content/fordmedia/feu/es/es/news/2024/02/01/nuevo-ford-mustang--el-icono-de-ee-uu--renace-para-un-mundo-cone.html" target="_blank">
          <h5 class="blog-heading"><b>Disfruta de la velocidad, la elección y el control total</b></h5>
        </a>
        <p class="blog-meta">Noticias / 1 febrero 2024</p>
      </div>
    </div>
  </div>
</section>