<app-navbar></app-navbar>
<div class="admin-container">

  <!-- Encabezado -->
  <div class="header-container">
    <div class="admin-header">
      <h1>Administración de vehículos</h1>
    </div>
  </div>

  <!-- Botones -->
  <div class="admin-actions">
    <button class="btn btn-primary" (click)="abrirAgregarTipoVehiculo()">
      <i class="fas fa-plus-circle me-2"></i>Agregar Tipo Vehículo
    </button>
    <button class="btn btn-primary" (click)="abrirAgregarVehiculo()">
      <i class="fas fa-plus-circle me-2"></i>Agregar Vehículo
    </button>
  </div>

  <div>
    <h2>Tipos de Vehículos</h2>
    <button class="btn btn-secondary ms-2" (click)="toggleMostrarTiposVehiculos()">
      <i class="fas fa-list me-2"></i>Ver Tipos de Vehículos
    </button>
  </div>

  <div class="section-divider"></div>

  <!-- Tabla de tipos de vehículo -->
  <div class="admin-section" *ngIf="mostrarTiposVehiculos">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-body table-responsive">
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Precio</th>
              <th>Tipo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tipo of tipoVehiculosList">
              <td>{{ tipo.id }}</td>
              <td>{{ tipo.marca }}</td>
              <td>{{ tipo.modelo }}</td>
              <td>{{ tipo.precio | currency:'EUR' }}</td>
              <td>{{ tipo.tipo }}</td>
              <td> <!-- EDITAR TIPO VEHICULO -->
                <button class="btn btn-warning btn-sm" (click)="editarTipo(tipo)">
                  <i class="fas fa-edit"></i> Editar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Vehículos actuales -->
  <div class="section-divider mt-4"></div>
  <h2>Vehículos Actuales</h2>
  <button class="btn btn-secondary mb-3" (click)="toggleMostrarVehiculos()">
    <i class="fas fa-car me-2"></i>
    {{ mostrarVehiculos ? 'Ocultar Vehículos' : 'Mostrar Vehículos' }}
  </button>

  <div *ngIf="mostrarVehiculos" class="vehicles-grid mt-4 row">
    <div class="col-md-6 mb-4" *ngFor="let item  of vehiculosConTipo">
      <div class="card h-100">
        <img *ngIf="item?.tipo?.tipo && item?.tipo?.modelo" [src]="getImagenPorTipoYModelo(item.tipo.tipo, item.tipo.modelo)" class="card-img-top" alt="imagen vehículo" loading="lazy" />
        <div class="card-body">
          <h5 class="card-title">
            {{ item.tipo.marca }} {{ item.tipo.modelo }}
          </h5>
          <p class="card-text">
            <strong>Matrícula:</strong> {{ item.vehiculo.matricula }}<br />
            <strong>Color:</strong> {{ item.vehiculo.color }}<br />
            <strong>Kilometraje:</strong> {{ item.vehiculo.kilometraje | number }} km<br />
            <strong>Transmision:</strong> {{ item.vehiculo.transmision }}<br />
            <strong>Combustible:</strong> {{ item.vehiculo.combustible }}<br />
            <strong>Etiqueta:</strong> {{ item.vehiculo.etiqueta }}<br />
            <strong>Plazas:</strong> {{ item.vehiculo.plazas }}<br />
            <strong>Ubicación:</strong> {{ item.vehiculo.ubicacion }}<br />
            <strong>Disponibilidad:</strong>
            <span [ngClass]="item.vehiculo.disponibilidad ? 'text-success' : 'text-danger'">
              {{ item.vehiculo.disponibilidad ? 'Disponible' : 'No disponible' }}
            </span>
          </p>
          <button class="btn btn-warning btn-sm mt-2" (click)="editarVehiculo(item)">
            <i class="fas fa-edit"></i> Editar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modales -->
  <app-crear-tipo-vehiculo
    *ngIf="showAgregarModalTipoVehiculo"
    (closeModal)="cerrarAgregarTipoVehiculo()">
  </app-crear-tipo-vehiculo>

  <app-crear-vehiculo
    *ngIf="showAgregarModalVehiculo"
    (closeModal)="cerrarAgregarVehiculo()">
  </app-crear-vehiculo>

  <ng-container *ngIf="showEditarModalTipoVehiculo && tipoEnEdicion">
    <app-editar-tipo-vehiculo
      [tipo]="tipoEnEdicion"
      (closeModal)="cerrarEditarTipoVehiculo()"
      (onSave)="guardarTipoEditado($event)"
      (onDelete)="eliminarTipo()">
    </app-editar-tipo-vehiculo>
  </ng-container>

  <ng-container *ngIf="showEditarModalVehiculo && vehiculoEnEdicion">
    <app-editar-vehiculo
      [vehiculo]="vehiculoEnEdicion"
      (closeModal)="cerrarEditarVehiculo()"
      (onSave)="guardarVehiculoEditado($event)"
      (onDelete)="eliminarVehiculo()">
    </app-editar-vehiculo>
  </ng-container>
</div>
