<div class="contacto-container container">
    <div class="row text-center text-md-start py-4">
      <div class="col-12 col-md-3 d-flex align-items-center mb-3 mb-md-0">
        <i class="bi bi-geo-alt icono-direccion"></i>
        <div class="dato">
          <div class="label">Dirección</div>
          <div class="info"><b>C/ Albarracín 25 28037, Madrid, España</b></div>
        </div>
      </div>

      <div class="col-12 col-md-3 d-flex align-items-center mb-3 mb-md-0">
        <i class="bi bi-envelope"></i>
        <div class="dato">
          <div class="label">Email</div>
          <div class="info"><b>karhub&#64;gmail.com</b></div>
        </div>
      </div>

      <div class="col-12 col-md-3 d-flex align-items-center mb-3 mb-md-0">
        <i class="bi bi-telephone"></i>
        <div class="dato">
          <div class="label">Teléfono</div>
          <div class="info"><b>+34 923456789</b></div>
        </div>
      </div>

      <div class="col-12 col-md-3 d-flex align-items-center mb-3 mb-md-0">
       <i class="bi bi-clock"></i>
        <div class="dato">
          <div class="label">Horario</div>
          <div class="info"><b>Sab-Lun: 10am - 10pm</b></div>
        </div>
      </div>
    </div>
  </div>