<section class="mision container mt-5 py-5">
    <div class="card mb-3" >
        <div class="row g-0 ">
            <div class="col-md-7">

                <div class="card-body">
                  <div class="texto-cuadro">
                    <img class="img-fondo llanta2" src="assets/img/llanta.png">
                    <h2>Buscando un coche?</h2>
                    <p class="telefono">+34 923456789</p>
                    <a class="boton-reserva" href="/catalogo">Reservar ahora</a>
                  </div>
                </div>
            </div>
            <div class="col-md-5 ">
              <img src="assets/img/cocheazul.png" class="coche" alt="Coche azul">

            </div>
        </div>
    </div>
</section>
