<div class="container bg-light py-5 my-5 text-center">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="https://www.toyota.es/" target="_blank"><img src="assets/img/toyota.png" alt="Toyota Logo"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="https://www.ford.es/" target="_blank"><img src="assets/img/ford.png" alt="Ford Logo"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="https://www.mercedes-benz.es/" target="_blank"><img src="assets/img/mercedes.png" alt="Mercedes-Benz Logo"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="https://www.jeep.es/" target="_blank"><img src="assets/img/jeep.png" alt="Jeep Logo"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="https://www.bmw.es/" target="_blank"><img src="assets/img/bmw.png" alt="BMW Logo"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="https://www.audi.es/" target="_blank"><img src="assets/img/audi.png" alt="Audi Logo"></a>
        </div>
    </div>
</div>
