<section class="bloque-recuerdos container my-5 py-5">
    <div class="izquierda">
      <h2>Desbloquea recuerdos<br/> inolvidables en la carretera</h2>
    
      <div class="lista-puntos">
        <div class="punto">
          <i class="bi bi-check-circle-fill" ></i>
          <p>Comparte risas y aventuras con quienes más quieres.</p>
        </div>
        <div class="punto">
          <i class="bi bi-check-circle-fill" ></i>
          <p>Descubre rutas ocultas y paradas sorprendentes.</p>
        </div>
        <div class="punto">
          <i class="bi bi-check-circle-fill" ></i>
          <p>Crea historias que contarás una y otra vez.</p>
        </div>
        <div class="punto">
          <i class="bi bi-check-circle-fill" ></i>
          <p>Explora paisajes únicos que se quedan grabados para siempre.</p>
        </div>
      </div>
    </div>
    <div class="derecha">
      <img src="/assets/img/coche_azul.jpg" alt="Coche azul">
    </div>
  </section>

  <!--seccion 2 -->
<section class="mision container mt-5 py-5">
    <div class="card mb-3" >
        <div class="row g-0 ">
            <div class="col-md-5">
              <img src="/assets/img/moto.png" alt="Moto amarilla" class="moto">
              <img class="img-fondo llanta2" src="assets/img/llanta.png">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                  <div class="contenido">
                    <h2><b>MISIÓN</b></h2>
                    <p>
                      Ofrecer soluciones de movilidad flexibles y accesibles, poniendo a 
                      disposición una flota moderna de coches, motos y furgonetas, con un servicio cercano y
                      eficiente que facilite los desplazamientos de nuestros clientes y contribuya a sus experiencias de viaje.
                    </p>
                  </div>
                </div>
            </div>

        </div>
    </div>
</section>